{% extends "base.html" %}

{% block content %}
{% if request.session.identity == '1' %}
    <div id="dangerAlert" class="alert alert-danger hide">
        <button type="button" class="close" onclick="$('#dangerAlert').removeClass('in').addClass('hide')" 
                    aria-hidden="true">
                    &times;
                </button>
        <p>请将信息填写完整</p>
    </div>
    <label>创建选择题</label>
    &nbsp;
    <button class="bnt btn-link" data-toggle="modal" data-target="#uploadModal">批量导入</button>
    &nbsp;
    <a href="javascript:history.back(-1)">返回</a>
    <form id="form"> 
        {% csrf_token %}   
        <div id="item" class="form-group panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>标题:</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label>内容:</label>
                    <textarea class="form-control" rows="5" name="detail" required></textarea>
                </div>
                <label>选项:</label>
                &nbsp;
                <button type="button" class="btn btn-info" onclick="add_option()">添加选项</button>
                <button type="button" class="btn btn-danger" onclick="del_option()">删除选项</button>
                <div name="options" class="panel panel-default form-group">
                    <div id="opt_panel" class="panel-body">
                        <div id="opt_A" class="form-inline">
                            <span>A:</span>
                            <input type="text" class="form-control" name="A" required>
                        </div>
                        <div id="opt_B" class="form-inline">
                            <br>
                            <span>B:</span>
                            <input type="text" class="form-control" name="B" required>
                        </div>
                        <div id="opt_C" class="form-inline">
                            <br>
                            <span>C:</span>
                            <input type="text" class="form-control" name="C" required>
                        </div>
                        <div id="opt_D" class="form-inline">
                            <br>
                            <span>D:</span>
                            <input type="text" class="form-control" name="D" required>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="multi" required>  多选
                    </label>
                </div>
                <div class="form-group">
                    <label>参考答案:</label><br>
                    <input type="text" name="reference" class="form-control" required>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="summit()">提交</button>
        </div>
    </form>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form class="modal-body" method="post" action="/practice/choice/create/batch" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>说明：请下载模板并按照模板填写需要创建的选择题</p>
                    <p><a href="/practice/choice/template_download">模板下载</a></p>
                    <label>上传文件：</label>
                    <input class="form-control" id="file_post" type="file" name="excel" accept=".xls,.xlsx" required>
                    <br>
                    <button type="submit" class="btn btn-primary">上传</button>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var options_count = 4;
    function add_option() {
        if (options_count >= 6) {
            alert("At most 6 options");
            return ;
        }
        options_count ++;
        var element = "<div id='opt_" + num_check() + "' class='form-inline'>\n "+
        "<br>\n"+
        "<span>" + num_check() + ":</span>\n"+
        "<input type='text' class='form-control' name='"+ num_check() +"' required>\n"+
        "</div>\n";
        $("#opt_panel").append(element);
    }
    function del_option() {
        if (options_count <= 2) {
            alert("At least need 2 options");
            return;
        }
        var element = document.getElementById("opt_" + num_check());
        document.getElementById('opt_panel').removeChild(element);
        options_count --;
    }
    function num_check() {
        return String.fromCharCode(options_count + 64);
    }
    function summit() {
        var token = $.cookie('csrftoken');
        var json = {};
        var options = [];
        var ready = true;
        var input =$('table :input[type="text"]');
        for(var i=0;i<input.length;i++){
            if(input[i].value==''){
                ready = false;
            }
        }
        if (ready) {
            json["title"] = $("input[name='title']").val();
            json["detail"] = $("textarea[name='detail']").val();
            for (var i = 0; i < options_count; i++) {
                s = String.fromCharCode(i + 65);
                options.push({"sign": s, "content": $("input[name="+s+"]").val()});
            }
            json["options"] = options;
            json["multichoice"] = document.getElementsByName('multi')[0].checked;
            json["reference"] = $("input[name='reference']").val().toUpperCase();
            $.ajax({
                type: "POST",
                url: "/practice/choice/create/single",
                headers:{'X-CSRFToken': token},
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(json),
                success: function(data){
                    if (data.msg == 'done') {
                        window.location = '/practice/problems_list';
                    }
                    
                }
            });
        }
        else {
            $("#dangerAlert").removeClass("hide").addClass("in");
        }
    }
</script>
{% elif request.session.identity == '2' %}
<div class="alert alert-warning">
    <p>
        <strong>警告:</strong>
        你未获取操作本页面的权限
    </p>
    <a href="javascript:history.go(-1)">返回</a>
</div>
{% else %}
<div class="alert alert-warning">
    <label>请先</label>
    <a href="/user/login">登录</a>
</div>
{% endif %}
{% endblock %}