{% extends "base.html"%}
{% block content %}
{% if request.session.identity != '1' %}
<div id="correctAlert" class="alert alert-success hide">
    <p>
        回答正确, 参考答案: 
        <strong>{{ choice.reference }}</strong>
    </p>
</div>
<div id="wrongAlert" class="alert alert-danger hide">
    <p>
        回答错误, 参考答案: 
        <strong>{{ choice.reference }}</strong>
    </p>
</div>
<div id="warnAlert" class="alert alert-warning hide">
    <p>请先
    <strong>登录</strong>
    </p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <label>{{ choice.title }}</label>
        <label class="text-info">
        {% if not choice.multichoice %}
            (单选)
        {% else %}
            (多选)
        {% endif %}
        </label>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <p class="lead">{{ choice.detail }}</p>
            {% for option in choice.options %}
            {% if not choice.multichoice %}
            {% if option.content == '' %}
            {% else %}
            <div class="radio">
                <label>
                    <input type="radio" name="option" value="{{ option.sign }}" onchange="set_btn()">{{ option.sign }}. {{ option.content }}
                </label>
            </div>
            {% endif %}
            {% else %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="option" value="{{ option.sign }}" onchange="set_btn()">{{ option.sign }}. {{ option.content }}
                </label>
            </div>
            {% endif %}
            {% endfor %}
            {% if request.session.identity == '2' %}
            <button id="btn_commit" class="btn btn-primary btn-sm" onclick="commit()" disabled>提交</button>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    function set_btn() {
        var len = $("input[name='option']:checked").length;
        if (len > 0) {
            $("#btn_commit").attr("disabled", false);
        }
        else {
            $("#btn_commit").attr("disabled", true);
        }
    }
    function get_answer() {
        var answer = '';
        $("input[name='option']:checked").each(function () {
            answer += $(this).val();
        });
        return answer;
    }
    function commit() {
    {% if not request.session.identity %}
        $("#warnAlert").removeClass("hide").addClass("in");
    {% elif request.session.identity == '2' %}
        var token = $.cookie('csrftoken');
        var url = "/practice/choice/" + String({{ choice.id }}) + "/commit";
        var ans = get_answer();
        $.ajax({
            type: "POST",
            headers:{'X-CSRFToken': token},
            url: url,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({"answer": ans}),
            success: function (data) {
                if (data.correct) {
                    $("#correctAlert").removeClass('hide').addClass('in');
                    $("#wrongAlert").removeClass("in").addClass('hide');
                }
                else {
                    $("#wrongAlert").removeClass("hide").addClass('in');
                    $("#correctAlert").removeClass('in').addClass('hide');
                }
            }
        });
    {% endif %}
    }
</script>
{% else %}
<div id="successAlert" class="alert alert-success hide">
</div>
<div id="failAlert" class="alert alert-danger hide">
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-link" onclick="set_input()">修改</button>
        <button id="btn_remove" class="btn btn-danger" style="float: right;" onclick="remove()" disabled>
            <span class="glyphicon glyphicon-trash"></span> 删除
        </button>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>标题:</label>
            <input type="text" name="title" value="{{ choice.title }}" class="form-control" readonly>
            <label>内容:</label>
            <textarea name="detail" rows="5" class="form-control" readonly>{{ choice.detail }}</textarea>
            <br>
            <div class="form-inline">
                <label>选项:</label>
                <button id="btn_add_option" type="button" class="btn btn-info" onclick="add_option()" disabled>添加选项</button>
                <button id="btn_del_option" type="button" class="btn btn-danger" onclick="del_option()" disabled>删除选项</button>
            </div>
            <div class="panel panel-default">
                <div id="opt_panel" class="panel-body">
                    {% for option in choice.options %}
                        <div id="opt_{{ option.sign }}" class="form-inline">
                            <br>
                            <span>{{ option.sign }}:</span>
                            <input type="text" class="form-control" name="{{ option.sign }}" value="{{ option.content }}" readonly>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    {% if choice.multichoice %}
                    <input type="checkbox" class="form-check-input" name="multi" checked>  多选
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="multi">  多选
                    {% endif %}
                </label>
            </div>
            <label>参考答案</label>
            <input type="text" name="reference" class="form-control" value="{{ choice.reference }}" readonly>
            <br>
            <button id="btn_commit" class="btn btn-primary" onclick="commit()" disabled>提交</button>
            <button id="btn_cancel" class="btn btn-default" onclick="cancel()" disabled>取消</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var options_count = {{ count }};
    function set_input() {
        $("input").removeAttr("readonly");
        $("textarea").removeAttr("readonly");
        $("#btn_add_option").attr("disabled", false);
        $("#btn_del_option").attr("disabled", false);
        $("#btn_remove").attr("disabled", false);
        $("#btn_commit").attr("disabled", false);
        $("#btn_cancel").attr("disabled", false);
    }
    function cancel() {
        $("input").attr("readonly", "readonly");
        $("textarea").attr("readonly", "readonly");
        $("#btn_add_option").attr("disabled", true);
        $("#btn_del_option").attr("disabled", true);
        $("#btn_remove").attr("disabled", true);
        $("#btn_commit").attr("disabled", true);
        $("#btn_cancel").attr("disabled", true);
    }
    function add_option() {
        if (options_count >= 6) {
            alert("At most 6 options");
            return ;
        }
        options_count ++;
        var element = "<div id='opt_" + num_check() + "' class='form-inline'>\n "+
        "<br>\n"+
        "<span>" + num_check() + ":</span>\n"+
        "<input type='text' class='form-control' name='"+ num_check() +"'>\n"+
        "</div>\n";
        $("#opt_panel").append(element);
    }
    function del_option() {
        if (options_count <= 2) {
            alert("At least need 2 options");
            return;
        }
        var element = document.getElementById("opt_" + num_check());
        document.getElementById('opt_panel').removeChild(element);
        options_count --;
    }
    function num_check() {
        return String.fromCharCode(options_count + 64);
    }
    function commit() {
        var token = $.cookie('csrftoken');
        var json = {};
        var options = [];
        json["operation"] = "change";
        json["title"] = $("input[name='title']").val();
        json["detail"] = $("textarea[name='detail']").val();
        for (var i = 0; i < options_count; i++) {
            s = String.fromCharCode(i + 65);
            options.push({"sign": s, "content": $("input[name="+s+"]").val()})
        }
        json["options"] = options;
        json["multichoice"] = document.getElementsByName('multi')[0].checked;
        json["reference"] = $("input[name='reference']").val().toUpperCase();
        $.ajax({
            type: "POST",
            url: "/practice/choice/{{ choice.id }}/modify",
            headers:{'X-CSRFToken': token},
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(json),
            success: function(data){
                if (data.msg == 'done') {
                    $("successAlert").append("<p>修改成功</p>");
                    $("successAlert").removeClass("hide").addClass("in");
                    window.location.reload();
                }
                else if (data.msg == 'empty') {
                    $("failAlert").append("<p>请将信息填写完整</p>");
                    $("failAlert").removeClass("hide").addClass("in");
                }
                else {
                    $("failAlert").append("<p>修改失败</p>");
                    $("failAlert").removeClass("hide").addClass("in");
                }
            }
        });
    }
    function remove() {
        var token = $.cookie('csrftoken');
        var json = {};
        json["operation"] = "remove";
        $.ajax({
            type: "POST",
            url: "/practice/choice/{{ choice.id }}/modify",
            headers:{'X-CSRFToken': token},
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(json),
            success: function (data) {
                if (data.msg == 'done') {
                    $("successAlert").append("<p>删除成功</p>");
                    $("successAlert").removeClass("hide").addClass("in");
                    window.location = '/practice/problems_list';
                }
                else {
                    $("failAlert").append("<p>删除失败</p>");
                    $("failAlert").removeClass("hide").addClass("in");
                }
            }
        });
    }
</script>
{% endif %}
{% endblock %}