{% extends "base.html" %}

{% load staticfiles %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/ace/src/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ace/src/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ace/src/theme-monokai.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ace/src/mode-c_cpp.js' %}"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.6/holder.min.js"></script>
{% endblock %}

{% block content %}

{% if request.session.identity != '1' %}
    <div id="question" class="col-md-6">
        <a href="javascript:history.back(-1)">返回</a>
        <div id="prog" class="panel panel-default">
            <div class="panel-body">
                <h3>
                    {{ programme.title }}<br>
                </h3>
                <p>运行时间<={{ programme.time_limit }}ms;内存占用<={{ programme.memory_limit }}KB</p>
                <p class="lead">{{ programme.detail }}</p>
                <label>输入描述:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <p>{{ programme.input_desc }}</p>
                    </div>
                </div>
                <label>输出描述:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <p>{{ programme.output_desc }}</p>
                    </div>
                </div>
                {% if programme.input_demo != '' %}
                <label>输入示例:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <textarea readonly rows="4" class="form-control">{{ programme.input_demo }}</textarea>
                    </div>
                </div>
                {% endif %}
                {% if programme.output_demo != '' %}
                <label>输出示例:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <textarea readonly rows="4" class="form-control">{{ programme.output_demo }}</textarea>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="answer" class="col-md-6">
        <pre id="editor" style="height: 600px"></pre>
        <div class="form-inline">
            {% if not request.session.identity %}
            <button class="btn btn-disabled" disabled="disabled">提交</button>
            {% else %}
            <button id="btn_submit" class="btn btn-primary" onclick="summit()" disabled>提交</button>
            {% endif %}
            <button class="btn btn-danger" onclick="reset_editor()">重置</button>
        </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <label>加载中...</label>
                    </div></div>    
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/c_cpp");
    editor.setFontSize(18);
    editor.setTheme("ace/theme/monokai");
    editor.setOptions({
        enableLiveAutocompletion: true,
        enableSnippets: true,
        enableBlockSelect: true,
        enableBasicAutocompletion: true
    });
    editor.getSession().on('change', function (e) {
        var code = editor.getValue().replace(/(\n[\s\t]*\r*\n)/g, '\n').replace(/^[\n\r\n\t]*|[\n\r\n\t]*$/g, '');
        if (code.length != 0) {
            $("#btn_submit").attr("disabled", false);
        }
        else{
            $("#btn_submit").attr("disabled", true);
        }
    });
    function reset_editor() {
        editor.setValue("");
    }
    function summit() {
        var token = $.cookie('csrftoken');
        var code = editor.getValue().replace(/(\n[\s\t]*\r*\n)/g, '\n').replace(/^[\n\r\n\t]*|[\n\r\n\t]*$/g, '');
        var json = {"code": code};
        var url = "/practice/programme/" + String({{ programme.id }}) + "/commit";
        $("#loadingModal").modal('show');
        $('#loadingModal').on('shown.bs.modal', function () {
            s=0;
            v=20;
            sobj=setInterval(function(){
                $('.progress-bar').html('').css({'width':s +'%'});
                if(s>=100){
                    clearInterval(sobj);
                }
                s+=v;
            },100);
        });
        $.ajax({
            type: "POST",
            url: url,
            headers:{'X-CSRFToken': token},
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(json),
            success: function (data) {
                if (data.msg == 'done') {
                    window.location = '/practice/programme/' + String({{ programme.id }}) + '/result';
                }
            }
        });
    }
</script>
{% elif request.session.identity == '1' %}
<div id="failAlert" class="alert alert-danger hide">
</div>
<a href="javascript:history.back(-1)">返回</a>
<form action="/practice/programme/{{ programme.id }}/modify" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-default" onclick="set_input()">修改</button>
            <button type="button" id="btn_remove" class="btn btn-danger" style="float: right;" onclick="remove()" disabled>
                <span class="glyphicon glyphicon-trash"></span> 删除
            </button>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>标题:</label>
                <input type="text" name="title" value="{{ programme.title }}" class="form-control" readonly required>
                <label>内容:</label>
                <textarea name="detail" rows="7" class="form-control" readonly required>{{ programme.detail }}</textarea>
                <label>输入描述:</label>
                <textarea class="form-control" rows="2" name="input_desc" readonly>{{ programme.input_desc }}</textarea>
                <label>输出描述:</label>
                <textarea class="form-control" rows="2" name="output_desc" readonly>{{ programme.output_desc }}</textarea>
                <label>输入示例:</label>
                <textarea class="form-control" rows="2" name="input_demo" readonly>{{ programme.input_demo }}</textarea>
                <label>输出示例:</label>
                <textarea class="form-control" rows="2" name="output_demo" readonly>{{ programme.output_demo }}</textarea>
                <label>测试用例:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline">
                            <label>测试用例个数:</label>
                            &nbsp;
                            <input type="number" class="form-control" name="testcase_count" value="{{ programme.testcase_count }}" required readonly>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="测试用例的个数"></span>
                            <a href="/practice/programme/{{ programme.id }}/get_testcase">查看测试用例</a>
                        </div>
                        <br>
                        <div class="form-inline">
                            <label>上传新的测试用例:</label>
                            &nbsp;
                            <input type="file" class="form-control" name="testcase_zip" accept=".zip" disabled>
                            <span class="glyphicon glyphicon-question-sign" data-container="body" data-toggle="popover" data-placement="right" title="说明" data-content="<p>测试用例中的文件格式:</p><p>用例输入为'.in'文件；输出为'.out'文件。'.in'文件与'.out'文件成对存在，一对为一个测试用例，测试用例个数要和前面输入的'测试用例个数'相同。</p><p>压缩文件中的文件排列格式:</p><p>.</p><p>|--0.in</p><p>|--0.out</p><p>|--1.in</p><p>|--1.out</p><p>|--...</p><p>以此类推。</p>"></span>
                        </div>
                    </div>
                </div>
                <label>限制条件:</label>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline">
                            <label>运行时间限制:</label>
                            <input type="number" name="time_limit" class="form-control" value="{{ programme.time_limit }}" required readonly>
                            <label>ms</label>
                        </div>
                        <br>
                        <div class="form-inline">
                            <label>内存使用限制:</label>
                            <input type="number" name="memory_limit" class="form-control" value="{{ programme.memory_limit }}" required readonly>
                            <label>MB</label>
                        </div>
                    </div>
                </div>
                <br>
                <button id="btn_commit" type="submit" class="btn btn-primary" disabled>提交</button>
                <button id="btn_cancel" class="btn btn-default" onclick="cancel()" disabled>取消</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip({html: true});
    });
    $(function () {
        $("[data-toggle='popover']").popover({html: true});
    });
    function set_input() {
        $("input").removeAttr("readonly");
        $("input[type='file']").attr("disabled", false);
        $("textarea").removeAttr("readonly");
        $("#btn_add_option").attr("disabled", false);
        $("#btn_del_option").attr("disabled", false);
        $("#btn_remove").attr("disabled", false);
        $("#btn_commit").attr("disabled", false);
        $("#btn_cancel").attr("disabled", false);
    }
    function cancel() {
        $("input").attr("readonly", "readonly");
        $("input[type='file']").attr("disabled", true);
        $("textarea").attr("readonly", "readonly");
        $("#btn_add_option").attr("disabled", true);
        $("#btn_del_option").attr("disabled", true);
        $("#btn_remove").attr("disabled", true);
        $("#btn_commit").attr("disabled", true);
        $("#btn_cancel").attr("disabled", true);
    }
    function remove() {
        var formdata = new FormData();
        var token = $.cookie('csrftoken');
        formdata.append("operation", "remove");
        $.ajax({
            url: '/practice/programme/{{ programme.id }}/modify',
            type: 'post',
            headers:{'X-CSRFToken': token},
            processData: false,
            contentType: false,
            data: formdata,
            success: function (data) {
                if (data.msg == "done") {
                    window.location = '/practice/problems_list';
                }
                else {
                    $("failAlert").append("<p>删除失败</p>");
                    $("failAlert").removeClass("hide").addClass("in");
                }
            }
        });
    }
</script>

{% endif %}
{% endblock %}  