<!DOCTYPE html>
<html>
<head>
    <title>C语言学习系统</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'js/jquery.media.js' %}"></script>
    <link href="https://cdn.bootcss.com/bootstrap-submenu/1.2.7/css/bootstrap-submenu.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-submenu/1.2.7/js/bootstrap-submenu.min.js"></script>
    <style type="text/css">
      body {margin: 75px 0px;}
    </style>
</head>
<body>
{% include "nav.html" %}
{% if len == 0 %}
<div class="panel panel-default">
    <div class="panel-body text-center">
        <p>暂无内容</p>
        {% if request.session.identity == '1' %}
        <a href="/courseware/create">添加课件</a>
        {% endif %}
    </div>
</div>
{% else %}
<div id="catalogue" class="col-md-2" style="height: 650px;overflow-y: auto;">
    <!-- <ul class="nav nav-pills nav-stacked"> -->
    <ul class="list-group">
        {% for cw in courseware_list %}
        {% if cw.ordinal == show_cw.ordinal %}
        <li><a class="list-group-item active" href="/courseware/index?ord={{ cw.ordinal }}">{{ cw.ordinal }}.{{ cw.title }}</a></li>
        {% else %}
        <li class="list-group-item"><a href="/courseware/index?ord={{ cw.ordinal }}">{{ cw.ordinal }}.{{ cw.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% if request.session.identity == '1' %}
        <li class="list-group-item"><a href="/courseware/create">添加课件</a></li>
        {% endif %}
    </ul>
</div>
<div id="show" class="panel panel-default col-md-10">
    <div class="panel-heading">
        <label>{{ show_cw.title }}</label>
        &nbsp;
        {% if request.session.identity == '1' %}
        <a href="/courseware/{{ show_cw.id }}/detail">管理</a>
        {% endif %}
        <a href="{{ show_cw.show_path }}" style="float: right;">下载原课件</a>
    </div>
    <div class="panel-body">
        {% if show_cw.file_type == '2' %}
        <a class="media center-block" href="{{ show_cw.show_path }}"></a>
        {% elif show_cw.file_type == '1' %}
        <div>
            <video id="mp4Player" class="center-block" width="1024" height="576" controls autoplay>
            </video>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% include "bottom.html" %}
<script type="text/javascript">
    {% if show_cw.file_type == '2' %}
    $(function() {  
        $('a.media').media({width:1000, height:600});  
    }); 
    {% elif show_cw.file_type == '1' %}
    $(function () {
        $("#mp4Player").attr("src", "/courseware/video_stream/?path={{show_cw.show_path}}");
    });
    {% endif %}
    $('.dropdown-submenu > a').submenupicker();
</script>
</body>
</html>