{% extends "base.html"%}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <label>编程题</label>
        {% if request.session.identity == '1' %}
        <a href="/oj/programme/create">创建编程题</a>
        {% endif %}
    </div>
    <div class="list-group">
        {% for data in p_data %}
        <div class="list-group-item">
            <a href="/oj/programme/{{ data.id }}/index">{{ data.title }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li>
                {% if p_data.has_previous %}
                    <a href="?p_page={{ p_data.previous_page_number }}">&laquo;</a>
                {% endif %}
            </li>
            {% for i in p_data.paginator.page_range %}
                {% if i == p_data.number %}
                    <li class="current"><a href="?p_page={{ p_data.number }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="?p_page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if p_data.has_next %}
                    <a href="?p_page={{ p_data.next_page_number }}">&raquo;</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <label>选择题</label>
        {% if request.session.identity == '1' %}
        <a href="/oj/choice/create">创建选择题</a>
        {% endif %}
    </div>
    <div class="list-group">
        {% for data in c_data %}
        <div class="list-group-item">
            <a href="/oj/choice/{{ data.id }}/index">{{ data.title }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li>
                {% if c_data.has_previous %}
                    <a href="?c_page={{ c_data.previous_page_number }}">&laquo;</a>
                {% endif %}
            </li>
            {% for i in c_data.paginator.page_range %}
                {% if i == c_data.number %}
                    <li class="current"><a href="?c_page={{ c_data.number }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="?c_page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if c_data.has_next %}
                    <a href="?c_page={{ c_data.next_page_number }}">&raquo;</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}