{% extends 'base.html' %}

{% block content %}
<a href="javascript:history.back(-1)">返回</a>
{% if len == 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <label>{{ mission.title }}</label>
    </div>
    <div class="panel-body text-center">
        <p>暂无提交</p>
    </div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <label>{{ mission.title }}</label>
    </div>
    <div class="panel-body">
        <table id="commit_table" class="table table-hover">
            <thead>
                <tr>
                    <th>提交者</th>
                    <th>时间</th>
                    {% if request.session.identity == '1' %}
                    <th>#</th>
                    <th>评分</th>
                    {% elif request.session.identity == '2' %}
                    <th>评分</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for commit in commit_list %}
                <tr>
                    <td>{{ commit.account }}</td>
                    <td>{{ commit.time|date:'Y-m-d H:i' }}</td>
                    {% if request.session.identity == '1' %}
                    <td><a href="/mission/{{ mission.id }}/get_commit?account={{ commit.account }}">下载文件</a></td>
                    <td>
                        {% if commit.grade == 'None' %}
                        <div class="form-inline">
                            <label class="radio-inline">
                                <input type="radio" name="gd_{{ commit.account }}" value="A">A
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gd_{{ commit.account }}" value="B">B
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gd_{{ commit.account }}" value="C">C
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gd_{{ commit.account }}" value="D">D
                            </label>
                            &nbsp;
                            <button class="btn btn-default" type="button" onclick="mark('{{commit.account}}')">评分</button>
                        </div>
                        {% else %}
                        <label>{{ commit.grade }}</label>
                        {% endif %}
                    </td>
                    {% elif request.session.identity == '2' %}
                    <td>{{ commit.grade }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="page" class="text-center">
            <ul class="pagination">
                <li>
                    {% if commit_list.has_previous %}
                    <a href="?page={{ commit_list.previous_page_number }}">&laquo;</a>
                    {% endif %}
                </li>
                {% for i in commit_list.paginator.page_range %}
                {% if i == commit_list.number %}
                <li class="current">
                    <a href="?page={{ commit_list.number }}">{{ i }}</a>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                <li>
                    {% if commit_list.has_next %}
                    <a href="?page={{ commit_list.next_page_number }}">&raquo;</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function mark(account) {
        var grade = $("input[name='gd_"+account+"']:checked").val();
        var token = $.cookie('csrftoken');
        var formdata = new FormData();
        formdata.append("account", account);
        formdata.append("m_id", '{{ mission.id }}');
        formdata.append("grade", grade)
        $.ajax({
            type: "POST",
            url: '/mission/mark',
            data: formdata,
            headers:{'X-CSRFToken': token},
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.msg == 'done') {
                    window.location.reload();
                }
                else {
                    alert("操作失败");
                }
            }
        })
    }
</script>
{% endif %}
{% endblock %}