{% extends "base.html" %}

{% block content %}
<h3>Change Password</h3>
<h6>{{ message }}</h6>
<form action="/user/changePassword" method="post" onsubmit="return handle_input()">
    旧密码：<input type="password" id="old_pwd" required><br>
    <input type="hidden" id="base64_old_pwd" name="old_password">
    新密码：<input type="password" id="new_pwd" onkeyup="check_strength()" required><span id="tips_1"></span><br>
    <input type="hidden" id="base64_new_pwd" name="new_password">
    确认密码：<input type="password" id="confirm_pwd" onkeyup="check_confirm()" required><span id="tips"></span><br>
    <input type="submit" id="change_button" disabled value="确认修改"> &nbsp; <input type="reset" value="重置"> &nbsp;
    <input type="button" value="取消" onclick="window.location.href='/user/index'">
    {% csrf_token %}
</form>
<script>
    function handle_input() {
        var old_pwd_input = document.getElementById("old_pwd");
        var base64_old = document.getElementById("base64_old_pwd");
        base64_old.value = btoa(old_pwd_input.value);
        var new_pwd_input = document.getElementById("new_pwd");
        var base64_new = document.getElementById("base64_new_pwd");
        base64_new.value = btoa(new_pwd_input.value);
        return true;
    }
    function check_strength() {
        var new_pwd_input = document.getElementById("new_pwd").value;
        const strength_1 = /^.*(?=.{6,})(?=.*\d).*$/;
        const strength_2 = /^.*(?=.{6,})(?=.*[a-zA-Z]).*$/;
        const strength_3 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-zA-Z]).*$/;
        const strength_4 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/;
        const strength_5 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*?\(\)+=\[\]\{\}_<>,.;:'"-]).*$/;
        if(new_pwd_input.length < 6){
            document.getElementById("tips_1").innerHTML = "<font color='gray'>密码长度需要大于或等于6</font>";
            document.getElementById("change_button").disabled = true;
        }
        else{
            if(strength_5.test(new_pwd_input)){
            document.getElementById("tips_1").innerHTML = "<font color='##fff000'>密码强度：极强</font>";
            }
            else if(strength_4.test(new_pwd_input)){
                document.getElementById("tips_1").innerHTML = "<font color='##ffff00'>密码强度：较强</font>";
            }
            else if(strength_3.test(new_pwd_input)){
                document.getElementById("tips_1").innerHTML = "<font color='##ff0f00'>密码强度：强</font>";
            }
            else if(strength_2.test(new_pwd_input)){
                document.getElementById("tips_1").innerHTML = "<font color='##ff0a00'>密码强度：一般</font>";
            }
            else if(strength_1.test(new_pwd_input)){
                document.getElementById("tips_1").innerHTML = "<font color='##ff0000'>密码强度：弱</font>";
            }
            document.getElementById("change_button").disabled = false;
        }

    }
    function check_confirm() {
        var new_pwd_input = document.getElementById("new_pwd").value;
        var confirm_input = document.getElementById("confirm_pwd").value;

        if(confirm_input !== new_pwd_input){
            document.getElementById("tips").innerHTML = "<font color='red'> 前后输入不一致</font>";
            document.getElementById("change_button").disabled = true;
        }
        else{
            document.getElementById("tips").innerHTML = "<font color='green'> 前后输入一致</font>";
            document.getElementById("change_button").disabled = false;
        }
    }
</script>
{% endblock %}