<!DOCTYPE html>
<html lang="en">
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js">

</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Forgot Password</h3>
<h6>{{ message }}</h6>
{% if step == 1 %}
    <form action="/user/forgot" method="get">
        账号：<input type="text" placeholder="账号为学号/工号" name="account" id="account_input" onkeyup="enable_send()" required><br>
        <input type="radio" value="2" name="identity" checked />学生
        <input type="radio" value="1" name="identity" />教师<br>
        邮箱：<input type="email" placeholder="账号已认证的邮箱" name="email" id="email_input" onkeyup="enable_send()" required><br>
        验证码：<input type="text" placeholder="验证码将发送到邮箱" id="verify_code" name="code" onkeyup="enable_next()" required>&nbsp;
        <input type="button" value="发送验证码" id="send" onclick="send_code()" disabled><br>
        <input type="submit" value="下一步" id="next" disabled>&nbsp;
        <input type="button" value="取消" onclick="window.location.href='/user/login'">
    {% csrf_token %}
    </form>
{% elif step == 2%}
    <form action="/user/forgot" method="post" onsubmit="return handle_password()">
    密码：<input type="password" id="pwd" onkeyup="check_strength()" required><span id="tips_1"></span><br>
    <input type="hidden" id="base64_pwd" name="reset_password">
    确认密码：<input type="password" id="confirm" required><span id="tips"></span><br>
    <input type="submit" id="yes" value="确认" disabled>
    {% csrf_token %}
    </form>
{% endif %}
<script type="text/javascript">
    function enable_send() {
        var email = $("#email_input").val();
        var account = $("#account_input").val();
        if (account.length>0 && email.length>0){
            $("#send").attr("disabled", false);
        }
    }
    function enable_next() {
        if ($("#verify_code").val().length > 0){
            $("#next").attr("disabled", false);
        }
    }
    function send_code() {
        var email = $('#email_input').val();
        var account = $('#account_input').val();
        var identity = $('input:radio[name="identity"]:checked').val();
        var second = 60;
        $.get('/user/email/verifyCode',
            {
                "account": account,
                "email": email,
                "identity": identity
            },
        function (result) {
            var obj = JSON.parse(result);
            if (obj.data === "sent"){
                var interval = setInterval(function () {
                    if (second <= 0){
                        $("#send").attr("disabled", false);
                        $("#send").val("重新发送");
                        second = 60;
                        clearInterval(interval);
                        interval = undefined;
                    }
                    else{
                        $("#send").attr("disabled", true);
                        $("#send").val("重新发送("+second+"s)");
                        second --;
                    }
                }, 1000);
            }
            else if (obj.data === "not exist"){
                alert("不存在此账号 '" + account + "'");
            }
            else if (obj.data === "no email"){
                alert("该账号未认证邮箱");
            }
            else if (obj.data === "not match"){
                alert("账号与认证的邮箱不匹配，请确认后重试。");
            }
            else{
                alert("发送验证码邮件失败");
            }
        });
    }
    function handle_password() {
        $('#base64_pwd').val(btoa($('#pwd').val()));
        return true;
    }
    function check_confirm() {
        if ($('#confirm').val() !== $('#pwd').val()){
            $('#tips').text("密码前后不一致");
            $('#tips').css("color", "red");
            $('#yes').attr("disabled", true);
        }
        else{
            $('#tips').text("密码前后一致");
            $('#tips').css("color", "green");
            $('#yes').attr("disabled", false);
        }
    }
    function check_strength() {
        var new_pwd_input = $("#pwd").val();
        const strength_1 = /^.*(?=.{6,})(?=.*\d).*$/;
        const strength_2 = /^.*(?=.{6,})(?=.*[a-zA-Z]).*$/;
        const strength_3 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-zA-Z]).*$/;
        const strength_4 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/;
        const strength_5 = /^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*?\(\)+=\[\]\{\}_<>,.;:'"-]).*$/;
        if(new_pwd_input.length < 6){
            $("#tips_1").text("密码长度需要大于或等于6");
            $("#tips_1").css("color", "gray");
            $("#yes").attr("disabled", true)
        }
        else{
            if(strength_5.test(new_pwd_input)){
                $("#tips_1").text("密码强度：极强");
                $("#tips_1").css("color", "#00ff00");

            }
            else if(strength_4.test(new_pwd_input)){
                $("#tips_1").text("密码强度：较强");
                $("#tips_1").css("color", "#009f00");
            }
            else if(strength_3.test(new_pwd_input)){
                $("#tips_1").text("密码强度：强");
                $("#tips_1").css("color", "#00ff90");
            }
            else if(strength_2.test(new_pwd_input)){
                $("#tips_1").text("密码强度：一般");
                $("#tips_1").css("color", "#ffff00");
            }
            else if(strength_1.test(new_pwd_input)){
                $("#tips_1").text("密码强度：弱");
                $("#tips_1").css("color", "#ff0000");
            }
            $("#yes").attr("disabled", false);
        }

    }
</script>
</body>
</html>