<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<h3>{{ message }}</h3>
<form action="/user/login" method="post">
    账号：<input type="text" name="account" required><br>
    密码：<input type="password" name="password" required><br>
    <input type="radio" value="2" name="identity" checked>学生
    <input type="radio" value="1" name="identity">教师<br>
    <input type="text" placeholder="输入验证码" name="verify_code" required>
    <img src="/user/verify_code" id="code_img" alt="验证码" onclick="refresh_code(this)"><br>
    <input type="submit" value="登录">
    {% csrf_token %}
</form>
<script>
    function refresh_code(obj) {
        obj.src += "?"+Math.random()
    }
</script>
</body>
</html>