{% extends "base.html" %}

{% block content %}
<div id="warnAlert" class="alert alert-warning hide">
    <button type="button" class="close" onclick="$('#warnAlert').removeClass('in').addClass('hide')" aria-hidden="true">
        &times;
    </button>
</div>
<form id="login_form" class="col-md-6" action="/user/login" method="post" onsubmit="return encode_pwd()">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <label>登录</label>
        </div>
        <div class="panel-body form-group">
            <div class="form-inline">
                <label>帐号:</label>
                <input type="text" name="account" class="form-control" placeholder="账号为学号/工号 " required />
            </div>
            <br>
            <div class="form-inline">
                <label>密码:</label>
                <input type="password" id="input_pwd" class="form-control" placeholder="初始密码为学号/工号后六位" required />
                <input type="hidden" name="password" id="base64_pwd" value="" />
                &nbsp;
                <a href="/user/forgot" tabindex="-1">忘记密码</a>
            </div>
            <br>
            <div class="form-inline">
                <label class="radio-inline">
                    <input type="radio" value="2" name="identity" checked />学生
                </label>
                <label class="radio-inline">
                    <input type="radio" value="1" name="identity" />教师
                </label>
            </div>
            <br>
            <div class="form-inline">
                <input type="text" class="form-control" placeholder="输入验证码;点击图片刷新" name="verify_code" required />
                <img src="/user/getVerificationCode" id="code_img" alt="验证码" onclick="refresh_code(this)" />
            </div>
            <br>
            <div class="form-inline">
                <button type="summit" class="btn btn-primary">登录</button>
                &nbsp;
                <button type="reset" class="btn btn-link">重置</button>
            </div>
        </div>
    </div>
</form>
<script>
    {% if message %}
    {% if message == 'wrong verification code' %}
    var msg = "<strong>验证码错误</strong>";
    {% elif message == 'wrong password' %}
    var msg = "<strong>密码错误</strong>";
    {% else %}
    var msg = "<strong>用户不存在</strong>";
    {% endif %}
    $("#warnAlert").append(msg);
    $("#warnAlert").removeClass("hide").addClass("in");
    {% endif %}
    function refresh_code(obj) {
        obj.src += "?"+Math.random()
    }
    function encode_pwd() {
        var pwd_input = document.getElementById("input_pwd");
        var base64_input = document.getElementById("base64_pwd");
        base64_input.value = btoa(pwd_input.value);
        return true
    }
</script>

{% endblock %}
